body {
    margin: 0px;
    padding:0px;
    background-image: url("../imgs/snow-falling.jpg");
    background-color:  #b1d3cb;
    background-blend-mode: overlay;
    background-size: auto;
    overflow-x: hidden;
    overflow-y: scroll;
    transition: background 3s ease-in-out;
    }

    #body_after {
    background-color: #747575;
    background-blend-mode: overlay;
    margin-bottom: 2%;
    }
          
    .header {
        background-color: rgb(90, 96, 128);
        height: 185px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 4%;
        margin-bottom: 4%;
        border-bottom: 6px dashed rgb(222, 184, 135);
        border-top: 6px dashed rgb(222, 184, 135);
        }

        .heading {
    font-family: 'Libre Baskerville', 'Merriweather', 'Times New Roman', serif;
    color: #faebd7;  
   text-align: center; 
    
    }
    @media only screen and (min-width: 800px){ 

      .heading h1{
          text-transform: uppercase;
          letter-spacing: 1px;
      
      }
      .heading h3{
          word-spacing: 6px;
          letter-spacing: 1px;
          
      }
      
          }
    
        .image_frame {
                width: 2%;
                display: inline-block;                     
                }
            .image_frame img {
                width: 100%;
                border-radius: 50%;
                box-shadow: 5px 5px #94a2c2;
                }

       
        

    .navigation{
        display: flex;
        height: 100px;
        justify-content: space-evenly;
        align-items: center;
        background-color: rgb(222, 184, 135);
        padding: 0;
        margin: 4% 0 4% 0;
        border-top: 6px double rgb(90, 96, 128);
        border-bottom: 6px double rgb(90, 96, 128);;
            
    }
    .navigation p {
      width: 30%;
      display: inline-block;
      border-right: 2px dashed rgb(90, 96, 128);
      padding-top: 3%;
      padding-bottom: 3%;
      font-family: 'Times New Roman', 'Book Antique', serif;
      text-align: center;
      }
      .navigation p:last-child {
         border-right: none;
     }

      .navigation a{
         color: rgb(90, 96, 128);
         text-decoration: none;
         font-weight: bold;
         }

         .navigation a:hover, a.active {
            background-color: #747575;
            color:#faebd7;
            font-style: normal;
            }




    @media only screen and (min-width: 900px) {
    .navigation p {
        width: 31%;
        display: inline-block;
        border-right: 2px dashed rgb(90, 96, 128);
        padding-top: 3%;
        padding-bottom: 3%;
        font-family: 'Book Antique', serif;
        font-size: 1em;
        text-align: center;
        }
        .navigation p:last-child {
            border-right: none;
        }
        .navigation a{
        color: rgb(90, 96, 128);
        text-transform: capitalize;
        text-decoration: none;
        }
        a.active, .navigation a:hover {
            background-color: #747575;
            color:#faebd7;
            padding: 2%;
            }
         }
       

   /*Content Characters*/
   .grid {
    height: 600px;
    width: 90%;
    background-color: rgb(105, 111, 148);
    display: grid;
    grid-template-rows: repeat(14, 1fr);
    grid-template-columns: repeat(18, 1fr);
    margin: 0 auto 2% auto;
    border: 4px double #faebd7;
    border-radius: 50%;
   }

    

.grid :first-child{
    grid-row: 3 / 5;
    grid-column: 6 / 8;
      
}

.grid  :nth-child(2) {
    grid-row: 5 / 6;
    grid-column: 9 / 11;
}

.grid :nth-child(3) {
    grid-row: 3 / 5;
    grid-column: 12 / 14;
}
 .grid :nth-child(4) {
    grid-row: 5 / 7;
    grid-column: 3 / 5;
 }   
 .grid :nth-child(5) {
    grid-row: 9 / 11;
    grid-column: 3 / 5;
 } 
 .grid :nth-child(6) {
    grid-row: 7 / 9;
    grid-column: 9 / 11;
 }  
 .grid :nth-child(7) {
    grid-row: 5 / 7;
    grid-column: 15 / 17;
 } 
 .grid :nth-child(8) {
    grid-row: 9 / 11;
    grid-column: 15 / 17;
 } 
 .grid :nth-child(9) {
    grid-row: 12 / 13;
    grid-column: 6 / 8;
 } 
 .grid :nth-child(10) {
    grid-row: 10 / 11;
    grid-column: 9 / 11;
    
 } 
 .grid :nth-child(11) {
    grid-row: 12 / 13;
    grid-column: 12 / 14;
 } 

 .grid :nth-child(12) {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
 } 
 .grid :nth-child(13) {
    grid-row: 1 / 2;
    grid-column: 18 / 19;
 } 
 .grid :nth-child(14) {
    grid-row: 14 / 15;
    grid-column: 1 / 2;
 }
 .grid :nth-child(15) {
    grid-row: 14 / 15;
    grid-column: 18 / 19;
 }  

 @media only screen and (min-width: 700px){
    .grid {
 height: 800px;
 width: 90%;
 background-color: rgb(105, 111, 148);
 display: grid;
 grid-template-rows: repeat(14, 1fr);
 grid-template-columns: repeat(18, 1fr);
 margin: 0 auto;
 border: 4px double #faebd7;
 border-radius: 10%;
 
 }
 .grid  :nth-child(2) {
     grid-row: 2 / 4;
     grid-column: 9 / 11;
 }
 .grid :nth-child(10) {
     grid-row: 12 / 14;
     grid-column: 9 / 11;
  } 
  .grid :nth-child(9) {
     grid-row: 11 / 13;
     grid-column: 6 / 8;
  }
  .grid :nth-child(11) {
     grid-row: 11 / 13;
     grid-column: 12 / 14;
  }  
}


.item img{
    width: 100%;
    border-radius: 50%;
    -webkit-filter: grayscale(100%); 
  filter: grayscale(100%);
  transition: width 4s ease-in;
  border: 2px dotted #94a2c2;
  box-shadow: 0 0 1px 1px #faebd7; 
  z-index: -10; 
  
    
}
.item img:hover{
-webkit-filter: none;
filter: none;
width: 150%;
z-index: 100;
}
.snow img{
    filter: none;
    -webkit-filter: none;
    box-shadow: 2px 2px #94a2c2;
}



    
    

   
    
    
    

    